<!DOCTYPE html>
<html>
    <head>
        <title>Passage</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Passage</a></h1>
        </header>

        <article>
            <time>pubblicato: 28.08.2025, 10:14</time>
            <h2><a href="">Fase 1</a></h2>
            <p>Capire come funziona Django.</p>
        </article>

        <article>
            <time>pubblicato: 28.08.2025, 10:20</time>
            <h2><a href="">Fase 2</a></h2>
            <p>Capire come funziona HTML.</p>
        </article>

        <article>
            <time>pubblicato: 28.08.2025, 10:30</time>
            <h2><a href="">Fase 3</a></h2>
            <p>Mettere tutto insieme e far funzionare tutto.</p>
        </article>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>
